<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
  </head>
  <body>
    <h1>Posts</h1>
    <ul>
      {% for post in posts %}
        <h2>{{ post['id'] }} - {{post['title']}} - {{post['content']}}</h2>
      {% endfor %}
    </ul>
  </body>
</html>
